<!DOCTYPE html>
<html lang="en">
<head>
<title>Seminário Abertura de Empresas</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#sobre" class="w3-bar-item w3-button w3-padding-large">SOBRE</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">INSCRIÇÕES</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PROGRAMAÇÃO</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOCAIS</a>
    <div class="w3-dropdown-hover w3-hide-small">
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="w3-display-container w3-center">
    <img src="logopng.png" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        
    </div>
  </div>
  
    </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="sobre">
    <h2 class="w3-wide">SOBRE</h2>
    <p class="w3-opacity"><i></i></p>
    <p class="w3-justify">A Junta Comercial do Estado do Ceará (Jucec) vai visitar diversas regiões do Estado para orientar prefeitos, secretários e funcionários municipais a implementar simplificações no processo de registro de empresas de baixo risco.<br><br>
      
      No Seminário Abertura de Empresas: Descomplicando a Formalização de Negócios nos Municípios, será explicado como a gestão municipal pode oferecer o serviço de viabilidade automática ao definir os locais permitidos para instalação de novos empreendimentos e as atividades econômicas consideradas de baixo risco sanitário, ambiental e urbano. Também será apresentada a política pública de simplificação disponível para os municípios.<br><br>
      
      Os Seminários regionais são realizados pela Jucec em parceria com Aprece, Sebrae e Sedet.</p>
    <div class="w3-row w3-padding-32" id="band">
     
        <h2 class="w3-wide">INSCRIÇÕES</h2>
        <p class="w3-justify">Em cada cidade, o evento deve receber cerca de 80 participantes das prefeituras. As inscrições são gratuitas e estão disponíveis com cadastro online. Clique e inscreva-se</p>
      </div>
  </div>

  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">PROGRAMAÇÃO</h2>
      <p class="w3-center">8h30 às 9h – Abertura</p><br>
      <p class="w3-center">9h às 9h40 – Palestra –  Lei da Liberdade Econômica e as novas formas de interação do município com o cidadão – Caio Rodrigues</p><br>
      <p class="w3-center">9h40 às 10h – Intervalo</p><br>
      <p class="w3-center">10h às 11h – Oficina – Elaboração de tabelas para a Viabilidade Automática (endereçamento e risco) – Eduardo Jereissati</p><br>
      <p class="w3-center">11h às 12h – Oficina – Implantação do programa Empresa Mais Simples</p><br><br>
      
      
     
		
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px"  id="contact">
      <h2 class="w3-wide w3-center">LOCAIS</h2>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Fortaleza</b></p>
            <p class="w3-opacity">10 de agosto</p>
            <p class="w3-opacity">08:30 às 12:00</p>
            <p><i class="fa fa-map-marker"></i> Fortaleza. Auditório Associação dos Prefeitos do Estado do Ceará. Rua Maria.</p>
            <button class="w3-button w3-black w3-margin-bottom" >Inscreva-se</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Regiões da Ibiapaba, Crateús, Inhamuns e Sobral</b></p>
            <p class="w3-opacity">24 de agosto</p>
            <p class="w3-opacity">08:30 às 12:00</p>
            <p><i class="fa fa-map-marker"></i> Sobral. Sede Sebrae. Av. Dr. Guarani, 1059 - Centro, Sobral.</p>
            <button class="w3-button w3-black w3-margin-bottom" >Inscreva-se</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Região do Cariri e Centro Sul</b></p>
            <p class="w3-opacity">05 de setembro</p>
            <p class="w3-opacity">08:30 às 12:00</p>
            <p><i class="fa fa-map-marker"></i> Juazeiro do Norte. Sede do Sebrae. R. Interventor Francisco Erivano Cruz - Centro.</p>
            <button class="w3-button w3-black w3-margin-bottom" >Inscreva-se</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Regiões do Vale do Jaguaribe e Litoral Leste</b></p>
            <p class="w3-opacity">19 de setembro</p>
            <p class="w3-opacity">08:30 às 12:00</p>
            <p><i class="fa fa-map-marker"></i> Aracati.</p>
            <button class="w3-button w3-black w3-margin-bottom" >Inscreva-se</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/paris.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Regiões  de Canindé, Sertão Central e Maciço de Baturité</b></p>
            <p class="w3-opacity">10 de outubro</p>
            <p class="w3-opacity">08:30 às 12:00</p>
            <p><i class="fa fa-map-marker"></i>  Quixeramobim. Sede Sebrae. R. Dona Francisca Santiago, 52.</p>
            <button class="w3-button w3-black w3-margin-bottom" >Inscreva-se</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/sanfran.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Regiões do Litoral Oeste e Vale do Curu</b></p>
            <p class="w3-opacity">24 de outubro</p>
            <p class="w3-opacity">08:30 às 12:00</p>
            <p><i class="fa fa-map-marker"></i> Itapipoca. IFCE Itapipoca.  Av. da Universidade, 102.</p>
            <button class="w3-button w3-black w3-margin-bottom" >Inscreva-se</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
    <h2 class="w3-wide w3-center">INFORMAÇÕES</h2>
        <div class="w3-row w3-padding-32">
         <p class="w3-wide w3-center">SEDE: AVENIDA WASHINGTON SOARES, 999 - EDSON QUEIROZ, FORTALEZA - CE/ PAVILHÃO LESTE - PORTÃO D - 2°ANDAR
FORTALEZA, CE</p><br>
<p class="w3-wide w3-center">CEP: 60811-341</p>
      </div>
      <div class="w3-col m6">
        
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>



<!-- Footer -->


<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
